/* BEM */

.pink {
    background: hotpink
}

.blue {
    background: blue
}

.black{
    display: none;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin: 25px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-style: solid;
    border-color: black;
}

.black:hover{
    color: white;
	transform: scale(1.2);
	transition-duration: 0.5s;
    border-radius: 20px;
        
        
}

@media(max-width: 845px){
    .black{
        display: block;
        margin-left: auto;
    }
}

