/* BEM */

.pink {
    background: hotpink
}

.blue {
    background: blue
}

.black{
    text-align: right;
    display: none;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 20px;
    border-color: black;
}

@media(max-width: 400px){
    .black{
        display: block;
    }
}

